body {
    background-color: var(--ts-background-primary);
    color: var(--ts-color-primary);
    font-family: 'OptimusPrinceps', sans-serif;
    max-width: 1000px;
    margin: 0 auto 0 auto;
    padding: 10px;


    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.footer {
    height: 50px;
    width: 100%;
}

h1 {
    margin-bottom: 0.2em;
}



.saved-rolls-container {

    flex-grow: 1; 
    overflow-y: auto; 
    margin-bottom: 10px; 
    max-height: 900px; 
    overflow-y: auto;
    border: 1px solid var(--ts-accessibility-border);
    padding: 5px;
    margin-top: 10px;
}
.saved-roll-entry {
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
}

.delete-roll {
    float: right; /* Position the delete button to the right */
    background-color: #ffdddd; /* Red background for delete button */
    border: none;
}


*, *::before, *::after {
    box-sizing: border-box;
}

.dice-counter {
    position: relative;
    display: inline-block; 
}

.dice-label {
    text-align: center; 
    color: var(--ts-color-secondary); 
    font-size: 0.8em; 
    margin-top: 5px; 
}

.counter-overlay {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}



.content-row {
    display:contents;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 0.8em;
    gap: 2%;
    width: 100%;
}

.button-container {
    display: flex; /* Align buttons in a row */
    justify-content: center; /* Center buttons horizontally */
    gap: 10px; /* Add some space between buttons */
    align-items: center;
    padding-top: 2%;
}


.label-desc {
    color: var(--ts-color-secondary);
    flex: 1;
}

.field-title {
    /*text-align: right;*/
    margin-bottom: 0.4em;
    flex-shrink: 0;
    font-size: 1.2em;
    /*width: 13em;*/
    color: var(--ts-color-secondary);
}

.spacer {
    flex-grow: 1;
}

.hidden {
    display: none;
}

.result {
    font-size: 2em;
}

button, input {
    background-color: var(--ts-background-secondary);
    color: var(--ts-color-primary);
    font-family: 'OptimusPrinceps', sans-serif;

    border: 1px solid var(--ts-accessibility-border);
    border-radius: 4px;
    font-size: 1.2em;
    flex-grow: 1;

    transition: ease-in-out 0.1s;
}

button:hover, input:hover {
    background-color: var(--ts-background-primary);
    transition: ease-in-out 0.2s;
}

button:focus-visible, input:focus-visible {
    outline: 3px solid var(--ts-accessibility-focus);
    outline-offset: -1px;
    background-color: var(--ts-background-primary);
    transition: outline-color 0s;
}

button {
    background-color: var(--ts-button-background);
    flex: 1;
    width: 150px;
    gap: 2%;
    padding: 2px;
}

button:hover {
    background-color: var(--ts-button-hover);
}

button:focus-visible {
    background-color: var(--ts-button-hover);
}

/*scrollbar styling*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--ts-background-primary);
    transition: ease-in-out 0.1s;
}

::-webkit-scrollbar-track:hover {
    background: var(--ts-background-secondary);
    transition: ease-in-out 0.2s;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--ts-background-secondary);
    transition: ease-in-out 0.1s;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--ts-color-secondary);
    transition: ease-in-out 0.2s;
}
