html, body {
    background-color: var(--ts-background-primary);
    color: var(--ts-color-primary);
    font-family: 'OptimusPrinceps', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0 3px;
    user-select: none;
}

/* NEW CSS PLAYING WITH */

.dice-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dice-selection{
    margin-bottom: 20px; 
}
.content-col {
    overflow: auto;  
    max-height: 90vh; 
}

/* NEW CSS END */

.unselectable{
    user-select: none;
}

#menu-bar{
    padding: 5px;
}

#settings-button{
    width: 38px;
    height: 38px;
    padding-bottom: 15px;
    background-color: black;
    color: rgb(0, 0, 0);
    border-radius: 50%;
}

#settings-menu{
    display: block;
    background-color: var(--ts-background-primary);
    border: 1px solid var(--ts-accessibility-border);
    border-radius: 4px;
    margin: 20px;
    z-index: 1;
}

.hidden {
    display: none !important;
}

.active-menu{
    background-color: grey !important;
}

.content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #0a0c11;
    color: #cdd6f4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'OptimusPrinceps', sans-serif;
    border-top: 3px solid #4b5267;
    gap: 10px;
}

.black-button {
    padding: 5px 15px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--ts-background-primary);
    color: var(--ts-color-primary);
    cursor: pointer;
}

.black-button:hover {
    background-color: var(--ts-button-hover);
    color: #000000;
}

.black-button:active {
    background-color: var(--ts-button-background);
    color: #000000;
}

.black-button:disabled, .black-button:disabled:hover{
    background-color: var(--ts-background-primary);
    color: var(--ts-color-secondary);
    cursor: not-allowed;
}

.unsaved-changes{
    background-color: var(--ts-background-tertiary) !important;
    color: var(--ts-accent-hover) !important;
}

marquee {
    font-size: 18px;
    padding: 10px;
}

.logo-header{
    text-align: center;
    margin-top: 0;
}

.logo-header img{
    height: 100px;
}

h1 {
    margin-bottom: 0.2em;
}

.roll-input {
    flex-grow: 0; 
    width: auto; 
    margin: 0 10px;
    user-select: none; 
}

.saved-roll-entry, .roll-button {
    user-select: none;
}

.roll-button {
    display: block;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #284b6b;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid var(--ts-color-secondary);
    transition: background-color 0.3s;
}

.roll-button:hover {
    background-color: #56a5bd;
}

.row-buttons-container{
    display: flex;
    margin-top: 5px;
    justify-content: space-around;
}

.row-button{
    flex: 1;
    margin: 0 5px;
    height: 30px;
}

.row-button img{
    height: 30px;
}

.saved-roll-entry {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    /* COMMENT: @json, this is what i added to align the title left */
    justify-content: flex-start;
    /**/
    align-items: left;
    background-color: var(--ts-button-background);
    font-family: 'OptimusPrinceps', sans-serif;
    padding: 10px;
}

.roll-entry-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.roll-entry-dice {
    display: block;
    text-align: left;
    margin-top: 10px;
    width: 100%;
    white-space: pre-line;
}

.dice-icon-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.dice-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.75em;
    pointer-events: none;
    z-index: 1;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
         1px 1px 0 #ffffff;
}


.dice-selection {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 5px; 
}

.ts-icon-medium {
    z-index: 0;
}


.ts-icon-custom-size {
    font-size: 30%;
}


.plus-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; 
    color: var(--ts-color-primary); 
    margin: 0 10px; 
    user-select: none;
}

.delete-roll {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 38px;
    height: 38px;
    background-color: #f88c8c;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    margin: 0 5px;
    /* COMMENT: this is what forces delete button to stay right*/
    margin-left: auto;
    /**/
    transition: background-color 0.2s;
}

.delete-roll:hover {
    background-color: #ff0000;
}

.padding-div{
    display: flex;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 18px;
    margin: 0 5px;
}

.ts-icon-medium {
    font-size: 50px;
    user-select: none;
}

.saved-rolls-container {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    max-height: calc(100vh - 160px);
    border: 1px solid var(--ts-accessibility-border);
    padding: 5px;
    margin-top: 10px;
    
}

.saved-rolls-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.roll-entry-label {
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}


.select-list {
    padding: 8px 16px; 
    margin-left: 10px; 
    border: 2px solid var(--ts-color-primary); 
    border-radius: 4px;
    background-color: var(--ts-background-secondary); 
    color: var(--ts-color-primary); 
    font-family: 'Gill Sans', sans-serif;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    appearance: none; 
    cursor: pointer; 
    transition: background-color 0.3s, border-color 0.3s; 
}

#sort-options-container {
    position: relative;
}

.select-list:hover {
    background-color: var(--ts-button-hover); 
    border-color: var(--ts-color-secondary); 
}


.select-list::-ms-expand {
    display: none; 
}

#sort-options-container:after {
    content: '\2193';
    font-size: 15px;
    color: var(--ts-color-primary);
    position: absolute;
    right: 10px; 
    top: 45%;
    transform: translateY(-50%);
    pointer-events: none;
}


.dice-counter {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 5px;
}

.counter-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 2;
    font-size: 1.5em;
    color: #000000;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
         1px 1px 0 #ffffff;
}

.mod-counter-overlay{
    height: 1.6em;
    text-align: center;
    border: none;
    left: 50%;
    pointer-events: auto;
    background: transparent;
    font-size: 1.5em;
    padding: 0;
    outline: none;
    appearance: none;
    -moz-appearance: textfield;
}

.mod-counter-overlay::-webkit-inner-spin-button,
.mod-counter-overlay::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mod-counter-overlay:focus-visible {
    background-color: rgba(150, 150, 150, 0.3);
}

.mod-counter-overlay:hover{
    background-color: rgba(150, 150, 150, 0.3);
}

.dice-label {
    margin-top: 5px;
    font-size: 0.8em;
}

.content-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    margin-bottom: 0.4em;
}

.content-col, .content-col-dice {
    display: contents;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.8em;
    gap: 2%;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding-top: 2%;
}

.label-desc {
    color: var(--ts-color-secondary);
    flex: 1;
}

.field-title {
    margin-bottom: 0.4em;
    flex-shrink: 0;
    font-size: 1.2em;
    color: var(--ts-color-secondary);
}

.spacer {
    flex-grow: 1;
}

.hidden {
    display: none;
}

.result {
    font-size: 2em;
}

button, input {
    background-color: var(--ts-background-secondary);
    color: var(--ts-color-primary);
    font-family: 'OptimusPrinceps', sans-serif;
    border: 1px solid var(--ts-accessibility-border);
    border-radius: 4px;
    font-size: 1.2em;
    flex-grow: 1;
    transition: ease-in-out 0.1s;
    cursor: pointer;
}

button:hover, input:hover {
    background-color: var(--ts-background-primary);
    transition: ease-in-out 0.2s;
}

button:focus-visible, input:focus-visible {
    outline: 3px solid var(--ts-accessibility-focus);
    outline-offset: -1px;
    background-color: var(--ts-background-primary);
}

button {
    background-color: var(--ts-button-background);
    width: 150px;
    gap: 2%;
    padding: 2px;
}

button:hover {
    background-color: var(--ts-button-hover);
}

button:focus-visible {
    background-color: var(--ts-button-hover);
}

.rolling-button{
    height: 75px;
    font-size: 0.9em;
}

.rolling-button img{
    height: 50px;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--ts-background-primary);
    transition: ease-in-out 0.1s;
}

::-webkit-scrollbar-track:hover {
    background: var(--ts-background-secondary);
    transition: ease-in-out 0.2s;
}

::-webkit-scrollbar-thumb {
    background: var(--ts-background-secondary);
    border-radius: 3px;
    transition: ease-in-out 0.1s;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--ts-color-secondary);
    transition: ease-in-out 0.2s;
}
